  {% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}Users{% endblock title %}

{% block content %}

<section class="content-header">
      <h1>
         नया प्रयोग कर्ता हाल्नुहोस्
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
 <div class="box">
        <div class="box-body">
  <form method="post" class="form form-horizontal">
            {% csrf_token %}


                <div class="form-group">
                 {{ form.username.errors }}
                  <label class="col-md-3 control-label" for="{{ form.username.id_for_label }}">प्रयोगकर्ता नाम</label>
                  <div class="col-md-3 control-label">
                    {{ form.username }}
                  </div>
                </div>
                <div class="form-group">
                {{ form.email.errors }}
                  <label class="col-md-3 control-label" for="{{ form.email.id_for_label }}">इमेल</label>

                  <div class="col-md-3 control-label">
                    {{ form.email }}
                  </div>
                </div>


 <div class="control-group" style="display: none;">
                 {{ form.password1.errors }}
                  <label class="control-label" for="{{ form.password1.id_for_label }}">पासवर्ड</label>
                  <div class="controls">
                    {{ form.password1 }}
                  </div>




               


                 {{ form.password2.errors }}
                  <label class="control-label" for="{{ form.password2.id_for_label }}">पासवर्ड</label>
                  <div class="controls">
                    {{ form.password2 }}
                  </div>
                </div>

               
                <input type="hidden" name = "role" value="{{ role }}">
                <input type="hidden" name = "office" value="{{ office_id }}">







<div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
            </div>

              <div class="form-actions">


 
              <div id="submitted"></div>
            </form>

 </div>
 </div>

</section>

{% endblock content %}


