
{% extends "base_layout.html" %}
{% load filters %}
{% load static %}

{% block title %}fwdc{% endblock title %}

{% block extra_styles %}{% endblock extra_styles %}


{% block content %}
<section class="content">
<div class="row">
<div class="col-md-12">
      <div class="all-totals-list">
        <div class="row">
          <div class="all-totals">

            <div class="col-md-4">
              <div class="totals">
                <h3>कुल पेश गरिएको</h3>
                <span>१००</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="totals">
                <h3>कुल कार्यालय</h3>
                <span>२०</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="totals">
                <h3>कुल प्रयोगकर्ता</h3>
                <span>१००</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
</div>
      <!-- Default box -->
      <!-- <div class="box">
        <div class="box-body">

        <div class="chart-section">
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">बार चार्ट</h3>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="barChart" style="height:230px"></canvas>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-md-6">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1059393.3436958205!2d80.50756992099542!3d29.28690855421674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a1666b20c30d3d%3A0xb3a717378a19a012!2sFar-Western+Development+Region%2C+Nepal!5e0!3m2!1sen!2s!4v1498351003946"  width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        

        <div class="col-md-6">
           <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">परिचय</a></li>
              <li><a href="#tab_2" data-toggle="tab">उद्देश्य</a></li>
              <li><a href="#tab_3" data-toggle="tab">ध्येय </a></li>
             
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <b>परिचय</b>

               सामाजिक विभेद र श्रोत साधनको असमान र असन्तुलित वितरण तथा केन्द्रिकृत शासन प्रणालीका कारण सुदुरपश्चिम क्षेत्र विकासको राष्ट्रिय मूल प्रवाहबाट टाढा रहि आएकोछ । भौतिक पूर्वाधार विकास, सामाजिक विकास र आर्थिक समृद्धिका दृष्टिले पछाडी परेको सुदुरपश्चिम क्षेत्रको सर्बाङ्गीण एवं दिगो बिकासका लागी विकास नीति तथा योजना तर्जुमा गरि शिघ्र कार्यान्वयनमा प्रमुख भूमिका खेल्न अधिकार सम्पन्न आयोग स्थापना गर्नु पर्ने सुदुरपश्चिमेली जनताहरुको पटक पटकको माग लाई सम्वोधन गर्न र यो क्षेत्र मानव विकास सूचकांकमा निकै पछि रहेको सन्दर्भ समेत मध्येनजर गरी तत्कालिन सरकारले २०६९।६।१० गतेको मन्त्रीपरिषद् बैठकबाट निर्णय गरी सुदुरपश्चिम विकास आयोगको गठन गरिएको हो ।<br>
               यसको आठ वर्ष पछि वि.स. २०३७ सालमा उनले तत्काल कायम रहेको सुदूर पश्चिम विकास क्षेत्रका २ अंचलहरुलाई समेटी (भेरी र कर्णाली) मध्यपश्चिमाञ्चल विकास क्षेत्र घोषणा गरे । यस पछि सुदुर पश्चिम विकास क्षेत्रमा जम्मा सेती र महाकाली अञ्चल रहन पुगे । यस क्षेत्रमा ९ जिल्लाहरु (कैलाली, कञ्चनपुर, अछाम, बाजुरा, बैतडी, बझाङ, डडेलधुरा, दार्चुला र डोटी) पर्दछन् । यस क्षेत्रको सदरमुकाम डोटी जिल्लाको दिपायलमा पर्दछ । यस क्षेत्रको क्षेत्रफल १९५३९ वर्ग कि.मी. र कुल जनसंख्या २,५५२,५१७ (राष्ट्रिय जनगणना २०११) रहेको छ । यस क्षेत्रको पहाडमा रहेका ४४ प्रतिशत र हिमालमा बसोबास गर्ने ४९ प्रतिशत मानिसहरु गरिवीको रेखामुनि छन् । यहाँ प्रमुख रुपमा डोटेली र कुमाउ भाषा बोलिन्छ । त्यसै गरि देउडा, झोडा, चेपली, छलिया, भडा आदि नृत्य गरिन्छ । 
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
               यस आयोगको गठनको उद्देश्य सुदूरपश्चिम क्षेत्रको सर्वाङ्गीण एवं दिगो विकासका लागि आवश्यक विकास नीति एवं योजनाहरु तर्जुमा गर्ने तथा सो को कार्यान्वयनमा प्रमुख भूमिका खेल्ने साथै मुलुकको समग्र विकासको आवधिक योजना अनुरुप सुदूरपश्चिम क्षेत्रको विकास लक्ष्य र प्राथमिकता निर्धारण गरी यस क्षेत्रको समग्र विकासको सम्भावना र अवसरहरुको पहिचान गरि तदनुरुपको योजना तर्जूमा, कार्यान्वयन, अनुगमन, मूल्यांकन तथा आवश्यक समन्वय गर्ने रहेको छ ।
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                सुदूरपश्चिम क्षेत्रमा रहेका विकासका अवसर र सम्भावनाहरुको पहिचान गरि उपलब्ध श्रोत साधनहरुको सन्तुलित रुपमा अधिकतम परिचालनबाट यस क्षेत्रलाई समग्र राष्ट्रिय विकास प्रवाहको समान स्तरमा पुर्याई सामाजिक, आर्थिक एवं मानविय विकासको दृष्टिले आत्मनिर्भर, गतिशिल तथा विकासोन्मुख क्षेत्रको रुपमा स्थापित गर्ने ।
<br><b>लक्ष्य</b><br> 
क्षेत्रमा विद्यमान गरीबी, पछौटेपन र विकासका बाधा अवरोधहरुलाई हटाउँदै प्राप्त अवसर र संभावनाहरुको महत्तम उपयोगद्वारा २०२२ सम्ममा बिकासको राष्ट्रिय स्तरमा पुर्याई २०३० सम्ममा “सुन्दर सुदूरपश्चिमलाई समृद्ध सुदूरपश्चिम” बनाउने ।
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
        <div class="clearfix"></div>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

</section>
{% endblock content %}

<!-- ./wrapper -->
