{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{object}}{% endblock title %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
      
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        <li><a href="{% url 'office:office-dashboard' object.id %}"><i class="fa fa-dashboard"></i> {{office}}</a></li>

      </ol>
    </section>

 <!-- Main content -->
 <div class="col-md-12">
         

      <!-- title row -->
      <div class="row">
            <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{% static 'dist/img/logo.png' %}" alt="User profile picture">

              <h3 class="profile-username text-center">{{office.name}}</h3>

              <p class="text-muted text-center">जिल्ला :

                {% for district in office.district.all %}
                  {{district.district}},
                {% endfor %}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>इ-मेल</b> <a class="pull-right">{{office.email}}</a>
                </li>
                <li class="list-group-item">
                  <b>फोन</b> <a class="pull-right">{{office.phone}}</a>
                </li>
                <li class="list-group-item">
                  <b>फ्याक्स</b> <a class="pull-right">{{office.fax}}</a>
                </li>
                <li class="list-group-item">
                  <b>कार्यालय समय</b> <a class="pull-right">{{office.office_time}}</a>
                </li>
                <li class="list-group-item">
                  <b>बिभाग</b> <a class="pull-right">{{office.department.name}}</a>
                </li>
              <li class="list-group-item">
                  <b>सेटिङ परिवर्तन</b> <a href="{% url 'reports:office-settings' office.id office.settings.id %}" %} class="pull-right">परिवर्तन गर्नुहोस्</a>
                </li>
                <li class="list-group-item">
                  <b>विवरण परिवर्तन</b> <a href="{% url 'office:office-update' office.id %}" %} class="pull-right">परिवर्तन गर्नुहोस्</a>
                </li>
              </ul>


            <!-- /.box-body -->
          </div>
          </div>
          </div>

                      <div class="col-md-9">
          
                         <div class="map-office">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1059393.3436958205!2d80.50756992099542!3d29.28690855421674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a1666b20c30d3d%3A0xb3a717378a19a012!2sFar-Western+Development+Region%2C+Nepal!5e0!3m2!1sen!2s!4v1498351003946"  width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
                      </div>

        <!-- /.col -->
      </div>
      </div>
      <!-- info row -->
      {% if office.is_municipality == True%}
       <div class="col-md-12">
          <div class="box box-solid">
           <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">थप जानकारी </h3><span class="pull-right"><a href="#" onclick="window.open(`{% url 'office:office-update-municipality' object.municipality_detail.id %}`, 'newwindow', 'width=800, height=600'); return false;">परिवर्तन गर्नुहोस्</a></span>
            </div>
      
          
<div class="col-md-6 box-solid" style="background-color: white;" >
              <dl class="dl-horizontal">

                    <b>केन्द्र : </b>{{office.municipality_detail.kendra}}<br>
                    <b>एरिया : </b>{{office.municipality_detail.area}}<br>
                    <b>वडाहरु को संख्या : </b>{{office.municipality_detail.no_of_wards}}<br>
                    <b>जनसंख्या : </b>{{office.municipality_detail.population}}<br>
              </dl>
              </div>
<div class="col-md-6 box-solid" style="background-color: white;">
              <dl class="dl-horizontal">
        
                    <b>मेयर/अध्यक्षको नाम : </b>{{office.municipality_detail.mayor_name}}<br>
                    <b>मेयर/अध्यक्षको फोन : </b>{{office.municipality_detail.mayor_phone_no}}<br>
                    <b>मेयर/अध्यक्षको ठेगाना  : </b>{{office.municipality_detail.mayor_address}}<br>
                    <b>उप-मेयर अध्यक्षको नाम : </b>{{office.municipality_detail.sub_mayor_name}}<br>
                    <b>उप-मेयर/अध्यक्षको ठेगाना : </b>{{office.municipality_detail.sub_mayor_address}}<br>
                    <b>उप-मेयर/अध्यक्षको फोन : </b>{{office.municipality_detail.sub_mayor_phone_no}}<br>
       

                    <b>वडा प्रमुखको विवरण : </b>{{office.municipality_detail.ward_chief_details}}<br>
                    <b>कृयाकलापहरु : </b>{{office.municipality_activities}}<br>
                    </dl>
                    </div>
        </div>


</div>
<br>
        {% elif office.is_project == True %}
 <div class="col-md-12">
<div class="box box-solid">
<div class="box-header with-border">
<i class="fa fa-text-width"></i>

<h3 class="box-title">थप जानकारी</h3><span class="pull-right"><a href="#" onclick="window.open(`{% url 'office:office-update-project' object.project_detail.id %}`, 'newwindow', 'width=800, height=600'); return false;">परिवर्तन गर्नुहोस्</a></span>
</div>
   <div  style="margin-left: 40px; ">
                    <b> आयोजनाको समय : </b>{{office.project_detail.project_time}}<br>
                    <b> बजेट : </b>{{office.project_detail.budget}}<br>
                    <b> बरिष्ठ इन्जिनीयर : </b>{{office.project_detail.chief_eng}}<br>
                    <b> इन्जिनीयरहरु : </b>{{office.project_detail.engineers}}<br>
      

                    <b> उद्देश्य : </b>{{office.project_detail.objective}}<br>
      </div>
</div>
</div>
        {% endif %}

        <!-- /.col -->
     
      <!-- /.row -->
        
         <!-- Table row -->
<br>


  <div class="col-md-12" style="margin-top: 10px;">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">बजेटको विवरण </h3><span class="pull-right"><a href="{% url 'office:office-budget-update' office.id %}">परिवर्तन गर्नुहोस्</a></span>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
              {% for budget in budgets %}
                 <dt>आर्थिक वर्ष:</dt> <dd>{{ budget.budget_year }}</dd>
                    <dt>बजेट      :</dt> <dd>{{ budget.budget_rs }}</dd>
                    <dt>नेपाल सरकार :</dt> <dd>{{ budget.nepalsarkar }}</dd>
                    <dt>संस्था :</dt> <dd>{{ budget.sastha }}</dd>
                    <dt>जनसंग्लनता :</dt> <dd>{{budget.anasamglanta }}</dd>
                    <dt>ऋण :</dt> <dd>{{ budget.loan }}</dd>
                    <dt>उपदान :</dt> <dd>{{ budget.upadan }}</dd>
                    <dt>दातृसंस्था :</dt> <dd>{{ budget.dritasastha }}</dd>
                    <dt>अन्तरिक :</dt> <dd>{{ budget.antarik }}</dd>
                    <dt>वैदेशिक :</dt> <dd>{{ budget.baidesikh }}</dd>
              {% endfor %}
              </dl>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
       
      <!-- /.row -->

      <!-- this row will not appear when printing -->
  <!-- /.content -->
    <div class="clearfix"></div>
  <!-- /.content-wrapper -->

{% endblock content %}