{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{office}}{% endblock title %}

{% block content %}
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">
        

          <div class="office-selected">
            <div class="col-md-6">
              <div class="office-head-detail">
                <div class="img-office-holder">
                   <img src="{% if office.image %}{{ office.image.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}" class="rounded" alt="" >
                </div>
                <h3 class="name-office">{{office}}</h3>
                <p class="address-office">{{office.address}}</p>
              </div>
              <div class="office-selected-btns">
              <a href="{% url 'office:office-detail' office.id %}">विवरण हेर्नुहोस्</a>
              <a href="{% url 'office:office-users' office.id %}">प्रयोगकर्ता</a>



              <a href="{% url 'reports:karyakram-control-list' office.id %}">कार्यक्रम थप्नुहोस्</a>



              <a href="{% url 'reports:files-submited' office.id %}">संलग्न फाइलहरु</a>


              </div>
              <br>
               <div class="office-selected-btns">
              <a href="{% url 'office:office-budget-update' office.id %}">बजेट थप्नुहोस्</a>
              <a href="{% url 'office:office-update' office.id %}">विवरण परिवर्तन गर्नुहोस्</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="map-office">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1059393.3436958205!2d80.50756992099542!3d29.28690855421674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a1666b20c30d3d%3A0xb3a717378a19a012!2sFar-Western+Development+Region%2C+Nepal!5e0!3m2!1sen!2s!4v1498351003946"  width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
               
            </div>
            <div class="clearfix"></div>
            <div class="row">
             
              <div class="yearly">
                <div class="col-md-4">
                  <div class="yearly-4monthly text-center">
                    <h3>वार्षिक / चौमासिक</h3>
                    <p>लक्ष्य र प्रगति</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="col-md-6">
                    <div class="lakchya lekchya">
                      <h3>लक्ष्य</h3>
                      
                      <a href="{% url 'reports:first-control-list' office.id 0 %}">प्रथम</a>
                      <a href="{% url 'reports:second-control-list' office.id 0 %}">दोस्रो</a>
                      <a href="{% url 'reports:yearly-control-list' office.id 0 %}">वार्षिक</a>

                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="lakchya">
                      <h3>प्रगति</h3>
                      
                      <a href="{% url 'reports:first-control-list' office.id 1 %}">प्रथम</a>
                      <a href="{% url 'reports:second-control-list' office.id 1 %}">दोस्रो</a>
                      <a href="{% url 'reports:yearly-control-list' office.id 1 %}">वार्षिक</a>

                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="row">
              <div class="yearly monthly">
                <div class="col-md-4">
                  <div class="yearly-4monthly monthley text-center">
                    <h3>मासिक</h3>
                    <p>लक्ष्य र प्रगति</p>
                  </div>  
                </div>
                <div class="col-md-8">
                  <div class="view-edit-t">
                    <div class="view-edit-tc">

                      <a href="{% url 'reports:monthly-control-list' office.id %}"><i class="fa fa-eye" aria-hidden="true"></i>दृश्य</a>
                      <a href="{% url 'reports:monthly-control-list' office.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>परिवर्तन गर्नुहोस्</a>

                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>  
            </div>
          </div> 


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

{% endblock content %}







{% block extra_script %}
{% endblock extra_script %}
