{% extends "base_layout.html" %}

{% load staticfiles %}
{% load filters %}

{% block title %}उदहारणहरु{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}
    
{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">


        <form class = "" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="col-md-3 control-label">{{ field.label_tag }}</label>
                <div class="col-md-5">{{ field }}</div>
            </div>
        {% endfor %}

	<input type="hidden" name="office_id" value="{{ object.project_detail.id }}">
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
		</div>
	</div>
	<br>
	<br>
	{% if object.is_project == True %}
	<a href="#"  onclick="window.open(`{% url 'office:office-update-project' object.project_detail.id %}`, 'newwindow', 'width=800, height=600'); return false;">परियोजनाको विवरण सच्याउनुहोस्</a>
	{% elif object.is_municipality == True %}
	<a href="#"  onclick="window.open(`{% url 'office:office-update-municipality' object.municipality_detail.id %}`, 'newwindow', 'width=800, height=600'); return false;">नगरपालिकाको विवरण सच्याउनुहोस्</a>
	{% endif %}
	

</form>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script>

 $(document).ready(function(){
       $('[form="form"]').addClass('form-control input-md');    

}

  
</script>
{% endblock extra_script %}
