{% extends "base.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{office}}{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'dashboard/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">

<style type="text/css">
  




</style>



    <style>
      .ontop {
        z-index: 999;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
        position: absolute;       
        background: rgba(0, 0, 0, .5);
        color: #aaaaaa;
        
        /*filter: alpha(opacity = 90);*/
      }
      #popup {
        width: 300px;
        height: 200px;
        position: absolute;
        color: #000000;
        background-color: #ffffff;
        /* To align popup window at the center of screen*/
        top: 50%;
        left: 50%;
        opacity: 1;

        margin-top: -100px;
        margin-left: -150px;
      }
    </style>
    <script type="text/javascript">
      function poplaksya(div, yearly, first, second) {
        alert(first);
        document.getElementById(div).style.display = 'block';
        document.getElementById("laksyayearly").href = yearly;
        document.getElementById("laksyafirst").href = first;
        document.getElementById("laksyasecond").href = second;
      
      }
      function hide(div) {
        document.getElementById(div).style.display = 'none';
      }
      //To detect escape button
      document.onkeydown = function(evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) {
          hide('popDiv');
        }
      };
    </script>


{% endblock extra_css %}

{% block content %}

{% ifrole "office_head" %}
Admin : Office Admin Name
{% endrole %}




<div id="popDiv" class="ontop">
लक्ष्य  छान्नुहोस्
      <table border="1" id="popup" style="opacity: 1;">
        <tr>
          <td>
            <a id="laksyayearly" href="#">बार्षिक लक्ष्य</a>
          </td>
          <td>
             <a id="laksyafirst" href="#">पहिलो लक्ष्य</a>
              </td><td>
              <a id="laksyasecond" href="#">दोस्रो लक्ष्य</a>
         </td>
        </tr>
        <tr>
          <td>
            बन्द गर्न वा उम्कन यसलाई क्लिक गर्नुहोस्  
            <a href="#" onClick="hide('popDiv')">बन्द गर्नुहोस्</a>
          </td>
        </tr>
      </table>
    </div>




    <section class="content-header">
      <h1>
        डाटा तालिकाहरू 
        <small>उन्नत टेबल</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">पूर्ण विशेषताहरु भएको डाटा तालिका</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th></th>
                  <th>कोड</th>
                  <th>युनिट</th>
                  <th>कृयाकलाप</th>

                  <th>उद्देश्य</th>
                  <th>प्रगती</th>
                  <th>थप्नुहोस्</th>
                 
                </tr>
                </thead>
                <tbody>
                {% for karyakram in karyakrams %}
                <tr>
                  <td>{{ karyakram.is_valid }}</td>
                  <td>{{ karyakram.code }}</td>
                  <td>{{ karyakram.unit }}</td>
                  <td>{{ karyakram.kriyakalap }}</td>
                  <td><a href="#" onClick="poplaksya('popDiv', '{% url 'reports:add-laksya' karyakram.office.id karyakram.id 0 %}', '{% url 'reports:add-laksya' karyakram.office.id karyakram.id 1 %}', '{% url 'reports:add-laksya' karyakram.office.id karyakram.id 2 %}')">Click here to open a popup div</a></td>
                  <td></td>
                  <td></td>
                </tr>
                {% endfor %}
               
                </tbody>
                <tfoot>
                <tr>
                <th></th>
                  <th>कोड</th>
                  <th>युनिट</th>
                  <th>कृयाकलाप</th>
                  <th>उद्देश्य</th>
                  <th>प्रगती</th>
                  <th>थप्नुहोस्</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>










{% endblock content %}







{% block extra_script %}

<script src="{% static 'dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'dashboard/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock extra_script %}