{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}परियोजना{% endblock title %}

{% block content %}

  <div class="box">
        <div class="box-body">

            <h3>परियोजनाहरू</h3>

           

                    {% for project in projects %}
                      <div class="col-md-3">
                        <div class="office text-center">
                          <div class="logo-office">
                            <img src=" {% static 'dist/img/logo.png' %}">
                          </div>
                          <div class="office-details">
                            <h5 class="name"><div id="div2"><a href="{% url 'office:office-dashboard' project.id %}">{{project.name}}</a></div></h5>
                            <p class="address">{{project.address}}</p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                      <div class="col-md-3">
                        <div class="office text-center">

                            <div class="project-details">
                                <a href="{% url 'office:office-add' %}"><i class = "glyphicon glyphicon-plus" style="font-size: 50px"></i></a><h4> परियोजना थप्नुहोस् </h4>
                            </div>
                        </div>
                      </div>

            
        </div>
        </div>
      <!-- Default box -->

{% endblock content %}

