{% extends "base_layout.html" %}

{% load staticfiles %}
{% load filters %}

{% block title %}कार्यक्रमहरु{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/imgcropper.css' %}" />
<link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'plugins/imgcrop.js' %}"></script> 
<script type="text/javascript">

    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_photo").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);

        
      });

    });
  
</script>
{% endblock extra_css %}
    
{% block content %}
<section class="">
  
</section>
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">फोटो क्रप गर्नुहोस्</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">चिन्ता नलिऊँ</button>
          <button type="button" class="btn btn-primary js-crop-and-upload" data-dismiss="modal">क्रप गरेर र अपलोड गर्नुहोस्</button>
        </div>
      </div>
    </div>
  </div>


 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        <li><a href="#"><i class="fa fa-dashboard"></i>प्रोफाइल सुधार गर्नुहोस्</a></li>
        
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <form id="form" action="" method="post" class="form form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {% include 'reports/form_template.html' %} -->

        <legend>प्रोफाइल सुधार गर्नुहोस्</legend>
       <!--  {% for field in form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="col-md-3 control-label">{{ field.label_tag }}</label>
                <div class="col-md-5">{{ field }}</div>
            </div
        {% endfor %} -->
       

                <div class="form-group">
                 {{ form.name.errors }}
                  <label class="col-md-3 control-label">{{ form.name.label_tag }}</label>
                  <div class="col-md-5">
                    {{ form.name }}
                  </div>
                </div>

                <div class="form-group">
                 {{ form.phoneno.errors }}
                  <label class="col-md-3 control-label">{{ form.phoneno.label_tag }}</label>
                  <div class="col-md-5">
                    {{ form.phoneno }}
                  </div>
                </div>

                <div class="form-group">
                 {{ form.photo.errors }}
                  <label class="col-md-3 control-label">{{ form.photo.label_tag }}</label>
                  <div class="col-md-5">
                    {{ form.photo }}
                  </div>
                </div>
                <div class="form-group">
                 {{ form.birth_date.errors }}
                  <label class="col-md-3 control-label">{{ form.birth_date.label_tag }}</label>
                  <div class="col-md-5">
                    {{ form.birth_date }}
                  </div>
                </div>
                <div class="form-group">
                 {{ form.bio.errors }}
                  <label class="col-md-3 control-label">{{ form.bio.label_tag }}</label>
                  <div class="col-md-5">
                    {{ form.bio }}
                  </div>
                </div>


             {{ form.x.errors }}
             {{ form.width.errors }}
             {{ form.y.errors }}
             {{ form.bio.errors }}
                    {{ form.x }}
                
                    {{ form.y }}
                 
                    {{ form.width }}
                 
                    {{ form.height }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
            </div>
        </div>
        

        </form>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script>

 $(document).ready(function(){
       $('[form="form"]').addClass('form-control input-md');    

});

  
</script>
{% endblock extra_script %}















































<!-- <form class = "" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'office/form_template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
        </div>
    </div>

</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 -->

