{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}प्रयोगकर्ता{% endblock title %}

{% block content %}
<!-- <a href="{% url 'office:office-dashboard' office %}"><button class="btn btn-primary" style="margin:5px 5px">Office Dashboard</button></a>

{% if head %} Ofice Head : {{head.user.username}} {% else %} Add Office Head link {% endif %}
{% if assistant %} Ofice Assistant : {{assistant.user.username}} {% else %} Add Office Assistant link {% endif %}

 -->
<section class="content-header">
      <h1>
        प्रयोगकर्ताको प्रोफाइल</h1>
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
 <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
            {% if head.user.id %}
            <a href="{% url 'office:profile-detail' head.user.id %}">
            {% endif %}
              <img class="profile-user-img img-responsive img-circle" src="{% if head.user.profile.photo %}{{ head.user.profile.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}" alt="User profile picture">

              <h3 class="profile-username text-center">{% if head %}{{head.user.profile.name}}{% else %} <a href="{% url 'office:office-add-office-head' office %}">कार्याल प्रमुख थप्नुहोस्</a> {% endif %}</h3>

              <p class="text-muted text-center">कार्याल प्रमुख</p>
               {% if head.user.id %}
              </a>
              {% endif %}
              <!-- <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul> -->
{% if head.user.id %}
<!-- <form id="removehead" method="post" action="{% url 'office:deactivate-users' %}">
{% csrf_token %}
<input type="hidden" name="userid" value="{{ head.user.id }}">
</form>
<a id="rmheadlink" href="#" class="btn btn-primary btn-block"><b>Remove</b></a>


<script type="text/javascript">
  var removehead = document.getElementById("removehead");

document.getElementById("rmheadlink").addEventListener("click", function () {
  removehead.submit();
});
</script>

 -->

<a id="rmheadlink" href="{% url 'office:profile-update' head.user.id %}" class="btn btn-primary btn-block"><b>परिवर्तन गर्नुहोस्</b></a>
{% else %}
{% endif %}

            </div>
            <!-- /.box-body -->
          </div>
          </div>



          <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
             {% if assistant.user.id %}
             <a href="{% url 'office:profile-detail' assistant.user.id %}">
             {% endif %}
              <img class="profile-user-img img-responsive img-circle" src="{% if assistant.user.profile.photo %}{{ assistant.user.profile.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}">

              <h3 class="profile-username text-center">{% if assistant %}{{assistant.user.profile.name}}{% else %} <a href="{% url 'office:office-add-info-officer' office %}">कार्यालय सूचना अधिकारी थप्नुहोस्</a> {% endif %}</h3>

              <p class="text-muted text-center">कार्यालय सूचना अधिकारी</p>
               {% if assistant.user.id %}
              </a>
              {% endif %}
              <!-- <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul> -->

            {% if assistant.user.id %}
            
           <!--  <form id="removestaff" method="post" action="{% url 'office:deactivate-users' %}">
            {% csrf_token %}
            <input type="hidden" name="userid" value="{{ assistant.user.id }}">
            </form>
            <a id="rmstafflink" href="#" class="btn btn-primary btn-block"><b>Remove</b></a>


            <script type="text/javascript">
              var removestaff = document.getElementById("removestaff");

            document.getElementById("rmstafflink").addEventListener("click", function () {
              removestaff.submit();
            });
            </script>
 -->

<a id="rmheadlink" href="{% url 'office:profile-update' assistant.user.id %}" class="btn btn-primary btn-block"><b>परिवर्तन गर्नुहोस्</b></a>
            {% else %}
            {% endif %}
              

            </div>
            <!-- /.box-body -->
          </div>
          </div>
          </div>

</section>

{% endblock content %}