{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{object}}{% endblock title %}

{% block content %}
<section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li> 
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
             <img class="profile-user-img img-responsive img-circle" src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static 'dist/img/logo.png' %}{% endif %}" alt="User profile picture">
              <h3 class="profile-username text-center">{{ object.name }}</h3>

              <p class="text-muted text-center">{{ office }}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>पोस्ट</b> <a class="pull-right">{{ role.first.group }}</a>
                </li>
                <li class="list-group-item">
                  <b>कार्य</b><a class="pull-right" href="{% url 'office:profile-update' request.user.id %}">परिवर्तन गर्नुहोस्</a>
                </li>
              </ul>

              <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->

          <!-- /.box -->
        </div>
        <div class="col-md-6">
                    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">मेरो बारे</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i>फोन नम्बर</strong>

              <p class="text-muted">
               {{ object.phone }}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i>जन्म मिति</strong>

              <p class="text-muted">{{ object.birth_date }}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i>तिथि मानाङ्कन</strong>

              <p class="text-muted">{{ object.assign_date }}</p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i>बायो</strong>

              <p>{{ object.bio }}</p>
            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <!-- /.col -->
        
        <!-- /.col -->
      </div>

        </section>


{% endblock content %}