{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{district}}{% endblock title %}

{% block content %}

 <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>
      <!-- Default box -->
<section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
         <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <section class="content">
      

<div class="row">
        <div class="col-md-9">
         

       <div class="box">
            <div class="box-header">
              <h3 class="box-title">{{office.name}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>कार्यक्रम</th>
                  <th>सम्बन्धित फाइलहरू</th>
                  <th style="width: 40px">आर्थिक वर्ष</th>
                </tr>

                 {% for karya in karyakrams %}
                 {% if karya.get_files_submitted.0.additional_file %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{ karya.name }}</td>
                  <td>
                    
                      
                     
                      <a href="{{ karya.get_files_submitted.0.additional_file.url }}">
                      {{ karya.get_files_submitted.0.additional_file.url }}</a>
                      
                  </td>
                  <td><span class="badge bg-red"></span>{{ karya.get_files_submitted.0.fiscal_year }}</td>
                </tr>
                {% endif %}
                {% endfor %}
               
              </table>
            </div>
            <!-- /.box-body -->
          </div>
   </div>
   </div>
    </section>

{% endblock content %}

