{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}Karyakrams{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css"> 

   <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>
{% endblock extra_css %}
	
{% block content %}
<section class="content-header">
      <ol class="breadcrumb">

        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <div class="pratham-lakchya">
          
        {% if type == '0' %}
		          <h3>पहिलो चौमासिक लक्ष्य</h3>			                        
		    {% else %}
		          <h3>पहिलो चौमासिक प्रगति</h3>
		    {% endif %}

          

          <table id="datatable" class="table table-bordered text-center">
            <thead>
            <tr>
              <th rowspan="2">सि.नं.</th>
              <th rowspan="2"><div id="div2">नाम</div></th>
              <th rowspan="2">युनिट</th>
              <th rowspan="2">कोड</th>
              <th rowspan="2">कृयाकलाप</th>
              <th colspan="3">बार्षिक लक्ष्य</th>
              <th colspan="3">पहिलो लक्ष्य</th>

             
              {% if type == '0' %}
    
              {% else %}
                <th colspan="3">पहिलो प्रगति</th>
                <th colspan="3">आर्थिक भौतिक प्रगति</th>
                <th colspan="3">प्रतिबेदन अवधि सम्म</th>
                <th colspan="3">कुल मध्य हाल</th>

              {% endif %} 
              <th rowspan="2">थप्नुहोस् / सच्याउनुहोस्</th>
              <th rowspan="2">टिप्पणीहरू</th>
            </tr>
            <tr>
              
              <th>परिमाण</th>
              <th>भार</th>
              <th>बजेट</th>
              <th>परिमाण</th>
              <th>भार</th>
              <th>बजेट</th>
              {% if type == '0' %}
    
              {% else %}
                <th>परिमाण</th>
                <th>भार</th>
                <th>बजेट</th>
                <th>परिमाण</th>
              <th>भार</th>
              <th>बजेट</th>
              <th>परिमाण</th>
              <th>भार</th>
              <th>बजेट</th>
              <th>परिमाण</th>
              <th>भार</th>
              <th>बजेट</th>
              {% endif %} 
            </tr>
            </thead>
            <tbody>
            	
                    {% for karyakram in object_list %}
                    <tr style="background-color: #ededed;">
                       <th>{{ karyakram.id }}</th>
                       <th>{{ karyakram.name }}</th>
                       <td></td>
                       <td></td>
                       <td></td>
                       
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>

                       {% if type == '0' %}

                       {% else %}
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       {% endif %}

                       <td>
                       <!-- <a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> -->
                       </td>

                       
                       <!-- <td>{{ karyakram.parent.all.0.id }}</td> -->

                       
                    </tr>
                    {% if karyakram.parent.all %}
                       		{% for subkaryakrams in karyakram.parent.all %}
                       			
                       			<tr>
           	         				<td><span class="glyphicon glyphicon-arrow-right"></span>  {{ subkaryakrams.karyakram.id }}.{{ forloop.counter }}</td>
   			                    <td>{{ subkaryakrams.name }}</td>
			                       <td>{{ subkaryakrams.unit }}</td>
			                       <td>{{ subkaryakrams.code }}</td>
			                       <td>{{ subkaryakrams.kriyakalap }}</td>
			                      <td>{{ subkaryakrams.get_yearly_lakxya.0.paridam }}</td>
                            <td>{{ subkaryakrams.get_yearly_lakxya.0.var }}</td>
                            <td>{{ subkaryakrams.get_yearly_lakxya.0.budget }}</td>
                             <td>{{ subkaryakrams.get_first_lakxya.0.paridam }}</td>
                              <td>{{ subkaryakrams.get_first_lakxya.0.var }}</td>
                              <td>{{ subkaryakrams.get_first_lakxya.0.budget }}</td>
                             
                             {% if type == '0' %}
                       
                             {% else %}
			                       <td>{{ subkaryakrams.get_first_pragati.0.paridam }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.var }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.budget }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.abp_paridam }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.abp_var }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.abp_budget }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.pas_paridam }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.pas_var }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.pas_budget }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.cmh_paridam }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.cmh_var }}</td>
                              <td>{{ subkaryakrams.get_first_pragati.0.cmh_budget }}</td>
                             {% endif %}
			                        <td><a href=" 
			                        {% if type == '0' %}
			                        {% url 'reports:add-lakxya' office subkaryakrams.id 1 %}
			                        {% else %}
			                        {% url 'reports:add-pragati' office subkaryakrams.id 1 %}
			                        {% endif %}
			                        "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                              </td>
                              <td>
                                 <button type="button" class="btn btn-default" onclick="getcomments('{{ subkaryakrams.id }}')" data-toggle="modal" data-target="#modal-default">Comments</button>
                              </td>
                       			</tr>	

                       		{% endfor %}

                       {% endif %}
                    {% endfor %}
                    
            </tbody>
            
            
          </table>
        </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <div class="modal fade" id="modal-default">
          <div class="modal-dialog" style="z-index: 9999999;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Comments</h4>
              </div>
              <div class="modal-body">
                

                 <div class="box-footer box-comments" id="commentdiv">
                    Loading ...
                 </div>
              

              </div>
                        <div class="modal-footer">
                        <div class="box-footer">
                        <form onsubmit="return submitcomment()" method="post">
                        {% csrf_token %}
                          <img class="img-responsive img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
                          <!-- .img-push is used to add margin to elements next to floating images -->
                          <div class="img-push">
                            <input type="text" class="form-control input-sm" id = "comment" name="comment" placeholder="Press enter to post comment">
                          </div>
                          <input type="hidden" id="k_id" name="k_id" value="52">
                        </form>
                      </div>


              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>      
      
    </section>

 
{% endblock content %}


{% block extra_script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#datatable").DataTable(
      {
        scrollX: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','copy', 'csv', 'excel', 'pdf', 'print',
        ]
      });
    });
</script>
<script>
function getcomments(id){
      document.getElementById("k_id").value=id;
      console.log(id);
      $.ajax({
        url: "{% url 'comments:comment-get' %}",
        data: {'k_id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',
        success: function (html) {
           $('#commentdiv').html(html);
        }
      });
}

function submitcomment(){
      document.getElementById("comment").disabled = true;
      var id = document.getElementById("k_id").value
      var comment = document.getElementById("comment").value
      $.ajax({
        url: "{% url 'comments:comment-add' %}",
        data: {'k_id': id, 'comment': comment, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',
        success: function (html) {
           $('#commentdiv').html(html);
            document.getElementById("comment").disabled = false;

        }
      });
      return false;
}

</script>
{% endblock extra_script %}