{% extends "base_layout.html" %}

{% load staticfiles %}
{% load filters %}

{% block title %}{{office}}{% endblock title %}

{% block content %}
<section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <!-- bread crumb  -->
<form class = "" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	{% include 'reports/form_template.html' %}


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
		</div>
	</div>

</form>

{% endblock content %}
