{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}कार्यक्रम{% endblock title %}

  
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css"> 
  <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>

{% endblock extra_css %}

{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
         <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <div class="pratham-lakchya">
          
 
    <h2>सम्पूर्ण कार्यक्रमहरु <a href="{% url 'reports:karyakram-add' office %}"></h2>
        <i class="fa fa-plus-circle" aria-hidden="true">  मूल कार्यक्रम थप्नुहोस्</i></a>
        <br>
          

          <table id = "datatable" class="table table-bordered text-center">
            <thead>
            <tr>
              <th rowspan="2">सि.नं.</th>
              <th rowspan="2"><div id="div2">नाम</div></th>
              <th rowspan="2">युनिट</th>
              <th rowspan="2">कोड</th>
              <th rowspan="2">क्रियाकलाप</th>
              <th colspan="3">बार्षिक लक्छ्य</th>
              
              
              <th rowspan="2">थप्नुहोस्</th>
            </tr>
            <tr>
              <th>परिमाण</th>
              <th>भार</th>
              <th>बजेट</th>

              
            
            </tr>
            </thead>
            <tbody>
              
                    {% for karyakram in object_list %}
                    <tr style="background-color: #ededed;">
                       <th>{{ karyakram.id }}</th>
                       <th>{{ karyakram.name }}</th>
                       <th></th>
                       <th></th>
                       <th></th>
                       <th></th>
                       <th></th>
                       <th></th>
                 
                       <td>

                       <a href="{% url 'reports:karyakram-add-child' karyakram.office.id karyakram.id %}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>

                       </td>

                       
                       <!-- <td>{{ karyakram.parent.all.0.id }}</td> -->

                       
                    </tr>
                    {% if karyakram.childs %}
                          {% for subkaryakrams in karyakram.childs %}
                            
                            <tr>
                            <td><span class="glyphicon glyphicon-arrow-right"></span> {{ subkaryakrams.karyakram.id }}.{{ forloop.counter }}</td>
                                <td>{{ subkaryakrams.name }}</td>
                             <td>{{ subkaryakrams.unit }}</td>
                             <td>{{ subkaryakrams.code }}</td>
                             <td>{{ subkaryakrams.kriyakalap }}</td>
                             
                             {% for sub in subkaryakrams.get_yearly_lakxya.all|slice:":1" %}
                             <td>{{ sub.paridam }}</td>
                             <td>{{ sub.var }}</td>
                             <td>{{ sub.budget }}</td>
                             {% endfor %}
                             <td></td>
                             
                             
                            </tr> 

                          {% endfor %}

                       {% endif %}
                    {% endfor %}
                    
                   
                




            </tbody>
            
            
          </table>
        </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#datatable").DataTable(
      {
        scrollX: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','copy', 'csv', 'excel', 'pdf', 'print',
        ]
      });
    });
</script>
{% endblock extra_script %}
