{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}कार्यक्रम{% endblock title %}

  
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css"> 
  <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>

{% endblock extra_css %}

{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
       
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <div class="pratham-lakchya">
          
 
    <h2>सम्पूर्ण कार्यक्रमहरु </h2>
        <br>
          
 <form class = "" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
              
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <span class="text-danger small">{{ field.errors }}</span>
        </div>
        <label class="col-md-3 control-label">{{ field.label_tag }}</label>
        <div class="col-md-5">{{ field }}</div>
      </div>
          {% endfor %}

<br>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
                </div>
            </div>
           

        </form>
       
        </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


