{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}मासिक प्रगतिहरु{% endblock title %}

  
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css"> 
  <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>

{% endblock extra_css %}

{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
         <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <div class="pratham-lakchya">
          
 
    <h2>मासिक प्रगतिहरु</h2>
        <br>
          

          <table id="datatable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>क्र. म.</th>
								<th>महिना</th>
								<th>महिनाको प्रगती</th>
								<th>कैफियत</th>
								<th>थप्नुहोस</th>
							</tr>
							
						</thead>
						<tbody>
                        {% for month in months %}

							<tr>
								<td>{{ month.id}}</td>
								<td>{{ month.month }}</td>
								<td>
								{% if month.pragati == None %}
								
								हाल  सम्म भरिएको छैन |

								{% else %}

								{{ month.pragati }}
								{% endif %}
								</td>
								<td>
								{% if month.pragati_till_date == None %}
	हाल  सम्म भरिएको छैन |
								{% else %}
								{{ month.comments }}
								{% endif %}
								</td>
								<td>
								{% if month.pragati == None %}
								
								<a href="{% url 'reports:add-monthly-pragati' office_obj.id karyakram.id month.id %}">Add.</a>

								{% else %}
								{% if request.office %}
								{% else %}
								<a href="{% url 'reports:add-monthly-pragati' office_obj.id karyakram.id month.id %}">Edit.</a>
								{% endif %}
								{% endif %}
								</td>
							</tr>
                             
                        {% endfor %}


						</tbody>
					</table>
        </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#datatable").DataTable(
      {
        scrollX: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','copy', 'csv', 'excel', 'pdf', 'print',
        ]
      });
    });
</script>
{% endblock extra_script %}
