{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}कार्यक्रम{% endblock title %}

  
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css"> 
  <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>

{% endblock extra_css %}

{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
         <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <div class="pratham-lakchya">
          
 
 <h2>हाल सम्मको प्रगती</h2>

                



				        {% for month in history %}

							<ul>
								<li>
								 {{ month.pragati }}
								</li>
								
							</ul>
                             
                        {% endfor %}

        </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#datatable").DataTable(
      {
        scrollX: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','copy', 'csv', 'excel', 'pdf', 'print',
        ]
      });
    });
</script>
{% endblock extra_script %}
