{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}कार्यक्रम{% endblock title %}

  
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}"> 
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css"> 
  <style type="text/css">                                              
  #div2 {
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;

}</style>

{% endblock extra_css %}

{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
         <li><a href="{% url 'office:office-dashboard' office %}"><i class="fa fa-dashboard"></i>{{ office_obj.name }}</a></li>
       
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <div class="pratham-lakchya">
          
 
    <h2>सम्पूर्ण कार्यक्रमहरु </h2>
        <br>
          

         <table id="datatable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>क्र. म.</th>
								<th>कार्य विवरण</th>
								<th>महिना</th>
								<th>महिनाको प्रगती</th>
								<th>हाल सम्मको प्रगती</th>
								<th>कैफियत</th>
								<th>थप्नुहोस</th>
							</tr>
							
						</thead>
						<tbody>
                        {% for karyakram in object_list %}

							<tr>
								<td>{{ karyakram.id }}</td>
								<td>{{ karyakram.name }}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
                             {% if karyakram.childs %}
                                 {% for subkaryakrams in karyakram.childs %}

                                    <tr>
                                    <td><span class="glyphicon glyphicon-arrow-right"></span> {{ subkaryakrams.karyakram.id }}.{{ forloop.counter }}</td>
                                        <td>{{ subkaryakrams.name }}</td>

                                        {% for monthlydata in subkaryakrams.get_monthly_progress.all|slice:":1" %}
                                        <td>{{ monthlydata.month }}</td>
                                        <td>{{ monthlydata.pragati }}</td>
                                        <td><a href="{% url 'reports:monthly-progress-detail' karyakram.office.id subkaryakrams.id %}" title="" class="btn btn-xs btn-primary"></i>हाल सम्मको प्रगती</a></td>
                                        <td>{{ monthlydata.comments }}</td>
                                        {% empty %}
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        {% endfor %}
                                        
                                        <td><a href="{% url 'reports:monthly-all-progress-list' karyakram.office.id subkaryakrams.id %}" title="" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i></a></td>
                                         
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}


						</tbody>
					</table>
        </div>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src = "https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script src = "https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(function () {
    $("#datatable").DataTable(
      {
        scrollX: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
            'pageLength','copy', 'csv', 'excel', 'pdf', 'print',
        ]
      });
    });
</script>
{% endblock extra_script %}
