{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}आर्थिक वर्ष परिवर्तन गर्नुहोस्{% endblock title %}

{% block content %}
<form class = "" action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	{% include 'reports/form_template.html' %}


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
		</div>
	</div>

</form>
{% endblock content %}