{% extends "base_layout.html" %}
{% load staticfiles %}
{% load filters %}

{% block title %}Karyakrams{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}
	
{% block content %}
 <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i>गृह पृष्ठ</a></li>
        
      </ol>
    </section>
    <!-- bread crumb  -->

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">

        <form id="form" action="" method="post" class="form form-horizontal" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- {% include 'reports/form_template.html' %} -->


		{% for field in form %}




		
		
		{% if forloop.counter == 1 %}
			<legend>प्रगति</legend>
		{% elif forloop.counter == 4 %}
			<legend>आर्थिक भौतिक प्रगति</legend>
		{% elif forloop.counter == 7 %}
			<legend>पतिबेदन अवधि सम्म एस आ.व.धी. को प्रगति</legend>
		{% elif forloop.counter == 10 %}
			<legend>कुल मध्ये हाल सम्म को प्रगति</legend>
		{% elif forloop.counter == 13 %}
       		<legend>कौफियत</legend>
    	{% endif %}

    	{% if form.instance.awadhi != 0 and forloop.counter == 14 %}
    	{% else %}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<span class="text-danger small">{{ field.errors }}</span>
				</div>
				<label class="col-md-3 control-label">{{ field.label_tag }}</label>
				<div class="col-md-5">{{ field }}</div>
			</div>
		{% endif %}
		{% endfor %}


		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-success">पेश गर्नुहोस्</button>
			</div>
		</div>
		{% if form.instance.id %}
			<input type="hidden" name="pragati", value="{{form.instance.id}}">
		{% endif %}


		</form>


        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </section>

 
{% endblock content %}


{% block extra_script %}
<script>



 $(document).ready(function(){
       $('[form="form"]').addClass('form-control input-md');
       
  }

  
</script>
{% endblock extra_script %}




















