{% extends "base_layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load filters %}

{% block content %}
	<div class="profile-user">
		<div class="profile-user-pic-blur">
			<div class="profile-user-all">
				<div class="profile-user-all-cell">
					<div class="profile-user-table">
						<div class="profile-image col-sm-4 col-md-4">
							<!-- <img src= "{% if request.user.profile.photo %}
				                 {{ request.user.profile.photo.url }}
				                 {% else %}
				                 {% static 'dist/img/user2-160x160.jpg' %}
				                 {% endif %}" alt="image" class="ninety img-square" /> -->
				                 <h4>{{obj.user }}</h4>
				                 <h3>{% trans 'Roles Of' %} {{obj.user}}</h3>
				                 {% for role in roles %}
					
				    			<span><b>{{role.group }}</b></span>
						</div>

							<br/>

						{% empty %}
						<p class="emptylist">Sorry, no roles for this user.</p>
						{% endfor %}

					</div>
					
				</div>
			</div>
		</div>
	</div>
	


{% endblock %}
