{% load static filters %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ site.name }}{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->



  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- calender -->
  <link href="{% static 'dist/css/calendar.css' %}" rel="stylesheet">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">  
{% endblock extra_css %}

{% load notifications_tags %}
{% notifications_unread as unread_count %}
{% notifications_all_unread as notif %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>

    var socket = new WebSocket('ws://' + window.location.host + '/');
    var noti = parseInt({{ unread_count }})
    socket.onopen = function open() {
    console.log('WebSockets connection created.');
    };
      
    // ------------for desktop notification------------//
    
    document.addEventListener('DOMContentLoaded', function () {
    if (Notification.permission !== "granted")
      Notification.requestPermission();
  });

    // ------------end for desktop notification------------//

      socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      noti = noti + 1;
      // NOTE: We escape JavaScript to prevent XSS attacks.
      var username = encodeURI(data['instance']);
      
    document.getElementById("notifcount").innerHTML=noti;
    
    $("#drop-content").prepend("<li class='unread'>"+
                    "<a href=data[`detail_url`]>"+
                      "<div class='col-md-3 col-sm-3 col-xs-3'><div class='notify-img'>"+
                      "<img src='http://placehold.it/45x45' alt=''></div></div><div class='col-md-9 col-sm-9"+
                      " col-xs-9 pd-l0'>"+ (data['by']) +" "+ (data['verb']) +" "+ data['action_object'] + 
                      "</a><br><span class='time'><i class='fa fa-clock-o' aria-hidden='true'></i>" + "Just now."+
                    "</span>"+
                    "</div>"+
                    "</a>"+
                  "</li>");


                        
                        

    //-------------for desktop notification--------------------

         if (Notification.permission !== "granted")
          Notification.requestPermission();
        else {
          var notification = new Notification('Notification', {
            icon: '{% static "assets/images/logo.png" %}',
            body: (data['by'])+" "+(data['verb'])+" "+ data['action_object'] + " " + "Just now.",
          });

          notification.onclick = function () {
            window.open("http://stackoverflow.com/a/13328397/1269037");      
          };
          
        }
    //-------------end for desktop notification--------------------
    };




    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
      console.log('ready');
    }
</script>

{% block css_files %}{% endblock css_files %}
{% block extra_styles %}{% endblock extra_styles %}



</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>FAR</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src=" {% static 'dist\img/logo3.png' %}"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <h3>Web Based Digital Progress Monitoring System</h3>
      <div class="col-md-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bell-o not-yellow" aria-hidden="true"></i>
                   {% if unread_count %}(<b><span id="notifcount">
              {{ unread_count }}
              </span></b>){% endif %}</a>
                  <ul class="dropdown-menu notify-drop"> 
              </li>
              <li>
                <!-- inner menu: contains the actual data -->
                {% if unread_count %}
                <ul id="notifmenu">
                    <!-- end notify title -->
                    <!-- notify content -->
                    <div class="drop-content" id="drop-content" style="width:400px;">
                     {% for not in notif|slice:":10" %}
                     <a href="{{not.get_absolute_url}}">
                      <li class="unread">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <div class="notify-img">
                            <img src="http://placehold.it/45x45" alt="">
                          </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">{{ not.actor }} {{ not.verb }} {{ not.action_object }}</a>
                        <br>
                        <span class="time">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>{{ not.timesince }} ago.
                        </span>
                        </div>
                      </li>
                      </a>
                     {% endfor %} 
                      
                    </div>
                    <div class="notify-drop-footer text-center">
                      <a href="{% url 'notifications:notification-list' %}">{% if unread_count %}<i class="fa fa-eye"></i> View All{% endif %}</a>
                    </div>
                </ul>
                {% endif %}
              </li>
            </ul>
          </div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{% if request.user.profile.photo %}
                 {{ request.user.profile.photo.url }}
                 {% else %}
                 {% static 'dist/img/user2-160x160.jpg' %}
                 {% endif %}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{request.user.username}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="
                 {% if request.user.profile.photo %}
                 {{ request.user.profile.photo.url }}
                 {% else %}
                 {% static 'dist/img/user2-160x160.jpg' %}
                 {% endif %}
                 " class="img-circle" alt="User Image">

                <p>
                  {{request.user.profile.name }} - {{request.group}}
                  <small>{{request.user.date_joined}}</small>
                 
                </p>
              </li>
              <!-- Menu Body -->
              <!-- <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              <!-- </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                
                <div class="pull-right">
                  <a href="{% url 'users:logout' %}" class="btn btn-default btn-flat">बाहिरिनुहोस</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">मुख्य नेविगेशन</li>
         <li><a href="{% url 'dashboard' %}"><i class="fa fa-circle-o"></i> गृहपृष्ठ</a></li>
        {% ifrole "assistant" %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>जिल्लाहरु</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu menu-open">
            {% for district in districts %}
            <li class="{% if activePage == district.id  %}active{% endif %}">
              <a href="{% url 'office:district-dashboard' district.id %}">
              <i class="fa fa-circle-o {% if activePage == district.id  %}text-aqua{% endif %}"></i>{{district}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>परियोजनाहरू</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu menu-open">
           <li><a href="{% url 'office:all-projects' %}"><i class="fa fa-circle-o"></i>सबै परियोजनाहरू</a></li>
            {% for proj in projectlinks %}
           <li><a href="{% url 'office:office-dashboard' proj.id %}"><i class="fa fa-circle-o {% if activePageOff == proj.id  %}text-aqua{% endif %}"></i> <span>{{proj}}</span></a></li>
            {% endfor %}
          </ul>
        </li>

   

        {% endrole %}
        {% ifrole "office" %}
          <li><a href="{% url 'office:office-dashboard' request.office.id %}"></a></li>

            <li><a href="{% url 'reports:karyakram-control-list' request.office.id %}"><i class="fa fa-circle-o"></i>कार्यक्रमहरु</a></li>
            <li><a href="{% url 'office:office-budget-update' request.office.id %}"><i class="fa fa-circle-o"></i>बजेट</a></li>
            
            <!-- <li><a href="#"><i class="fa fa-circle-o"></i>रिपोर्टहरु</a></li> -->
        {% endrole %}

       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- bread crumb  -->
    <!-- <section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section> -->
    <!-- bread crumb  -->

    <!-- Main content -->
    
      {% block content %}

    {% endblock content %}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      powered by:<b><a href="#">Naxa</a></b>
    </div>
    <strong>Copyright &copy;</strong> All rights
    reserved.
  </footer>

  
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->

<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- ChartJS 1.0.1 -->
<script src="{% static 'plugins/chartjs/Chart.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>



<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="{% static 'dist/js/main.js' %}"></script>

{% block extra_script %}{% endblock extra_script %}
</body>
</html>
