{% extends "base_layout.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block extracss %}

<style >
    .panel-body{
        position: relative;
        bottom: 46px;
    }
</style>
{% endblock %}


{% block content %}
<span class="title">Your Notifications</span>
    
                    <!-- end notify title -->
                    <!-- notify content -->
                   <table>
                       {% for not in notif|slice:":10" %}
                     <a href="{{ not.get_absolute_url }}">
                      <li class="unread">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                         <div class="col-md-1">
                              <i class="fa fa-info-circle fa-1 note-icon-sm"></i>
                         </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">{{ not.actor }} {{ not.verb }} {{ not.action_object }}
                        <br>
                        <span class="time">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>{{ not.timesince }} ago.
                        </span>
                        </div>
                      </li>
                      </a>
                    {% endfor %} 
                    {% if is_paginated %}
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                        </li>
                    {% endif %}
                        <li class="">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                    {% if page_obj.has_next %}
                        <li>
                            <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                        </li>
                    {% endif %}
                    </ul>
                    {% endif %}

            
                   </table>
                     
                    

               
{% endblock %}